{% extends 'base.html.twig' %}

{% block title %}Profile page
{% endblock %}

{% block body %}
	<section id="content" class="site-content__content-section grid12">
		<div class="body-content">
			<div class="container">
				<div class="profile u-flex-direction-column">
					<div>
						<div class="u-flexbox">
							<div>
								<div class="web_ui__Image__image web_ui__Image__x4-large web_ui__Image__circle web_ui__Image__scaled web_ui__Image__cover"><img src="https://images1.vinted.net/t/03_01f91_BSQa7H76EEF7sDmmEsxvPKqu/f800/1639737196.jpeg?s=ba557afa2e493da21898c63937264d6cdb846aa1" alt="" class="web_ui__Image__content"></div>
							</div>
							<div class="web_ui__Spacer__large web_ui__Spacer__vertical"></div>
							<div class="u-flex-grow">
								<div class="web_ui__Cell__cell web_ui__Cell__default" role="presentation">
									<div class="web_ui__Cell__content">
										<div class="web_ui__Cell__heading">
											<div class="web_ui__Cell__title">
												<div class="u-flexbox u-align-items-center">
													<h1 class="web_ui__Text__text web_ui__Text__heading web_ui__Text__left web_ui__Text__amplified web_ui__Text__bold" data-testid="profile-username">laura119979</h1>
												</div>
											</div>
										</div>
										<div class="web_ui__Cell__body">
											<button type="button" data-testid="rating-button">
												<div class="web_ui__Rating__rating web_ui__Rating__regular" aria-label="Member rated 4.9 out of 5">
													<div class="web_ui__Rating__star web_ui__Rating__full">
														<div class="web_ui__Rating__star-content" aria-hidden="true">
															<span class="web_ui__Rating__star-first-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<span class="web_ui__Rating__star-second-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<div class="web_ui__Rating__star-focus-ring"></div>
														</div>
													</div>
													<div class="web_ui__Rating__star web_ui__Rating__full">
														<div class="web_ui__Rating__star-content" aria-hidden="true">
															<span class="web_ui__Rating__star-first-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<span class="web_ui__Rating__star-second-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<div class="web_ui__Rating__star-focus-ring"></div>
														</div>
													</div>
													<div class="web_ui__Rating__star web_ui__Rating__full">
														<div class="web_ui__Rating__star-content" aria-hidden="true">
															<span class="web_ui__Rating__star-first-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<span class="web_ui__Rating__star-second-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<div class="web_ui__Rating__star-focus-ring"></div>
														</div>
													</div>
													<div class="web_ui__Rating__star web_ui__Rating__full">
														<div class="web_ui__Rating__star-content" aria-hidden="true">
															<span class="web_ui__Rating__star-first-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<span class="web_ui__Rating__star-second-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<div class="web_ui__Rating__star-focus-ring"></div>
														</div>
													</div>
													<div class="web_ui__Rating__star web_ui__Rating__full">
														<div class="web_ui__Rating__star-content" aria-hidden="true">
															<span class="web_ui__Rating__star-first-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<span class="web_ui__Rating__star-second-half">
																<span class="web_ui__Icon__icon" style="width: 16px;">
																	<svg fill="none" viewbox="0 0 16 16" width="16" height="16" role="img">
																		<path fill="currentColor" d="M7.97.5c-.3 0-.57.19-.66.47L5.754 5.5H.659C.3 5.5 0 5.8 0 6.16c0 .21.1.41.28.54l4.085 2.9-1.768 5.13a.58.58 0 0 0 .889.66L8 12.18l4.514 3.21a.58.58 0 0 0 .889-.66L11.636 9.6l4.084-2.9c.17-.12.28-.32.28-.54 0-.36-.3-.66-.66-.66h-5.113L8.65.97A.7.7 0 0 0 7.99.5h-.02Z"></path>
																	</svg>
																</span>
															</span>
															<div class="web_ui__Rating__star-focus-ring"></div>
														</div>
													</div>
													<div class="web_ui__Rating__label">
														<span class="web_ui__Text__text web_ui__Text__body web_ui__Text__left">790 évaluations</span>
													</div>
												</div>
											</button>
										</div>
									</div>
									<div class="web_ui__Cell__suffix">
										<div class="u-flexbox">
											<a role="button" href="/inbox/new?receiver_id=43107677&amp;ref_url=%2Fmember%2F43107677-laura119979" class="web_ui__Button__button web_ui__Button__outlined web_ui__Button__medium web_ui__Button__primary web_ui__Button__inline web_ui__Button__truncated" data-testid="info-header-message-button">
												<span class="web_ui__Button__content">
													<span class="web_ui__Button__label">Contacter</span>
												</span>
											</a>
											<div class="web_ui__Spacer__large web_ui__Spacer__vertical"></div>
											<div>
												<button type="button" class="web_ui__Button__button web_ui__Button__filled web_ui__Button__medium web_ui__Button__primary web_ui__Button__truncated" data-testid="profile-info-follow-button">
													<span class="web_ui__Button__content">
														<span class="web_ui__Button__label">Suivre</span>
													</span>
												</button>
											</div>
											<div class="web_ui__Spacer__large web_ui__Spacer__vertical"></div>
											<div>
												<button type="button" class="web_ui__Button__button web_ui__Button__flat web_ui__Button__medium web_ui__Button__primary web_ui__Button__truncated web_ui__Button__icon-left web_ui__Button__without-text">
													<span class="web_ui__Button__content">
														<span class="web_ui__Button__icon">
															<span class="web_ui__Icon__icon web_ui__Icon__greyscale-level-4" data-testid="actions-menu-button" style="width: 24px;">
																<svg viewbox="0 0 24 24" width="24" height="24">
																	<title>Voir plus</title>
																	<path d="M20.25 10a1.75 1.75 0 1 0 0 3.5 1.75 1.75 0 0 0 0-3.5M12 10a1.75 1.75 0 1 0 0 3.5 1.75 1.75 0 0 0 0-3.5m-6.5 1.75a1.75 1.75 0 1 1-3.5 0 1.75 1.75 0 0 1 3.5 0"></path>
																</svg>
															</span>
														</span>
													</span>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="web_ui__Cell__cell web_ui__Cell__default" role="presentation">
									<div class="web_ui__Cell__content">
										<div class="web_ui__Cell__body">
											<div class="u-flexbox">
												<div>
													<h4 class="web_ui__Text__text web_ui__Text__caption web_ui__Text__left">À propos :</h4>
													<div class="web_ui__Spacer__small web_ui__Spacer__horizontal"></div>
													<ul class="web_ui__List__list web_ui__List__narrow">
														<li class="web_ui__Item__item">
															<div class="web_ui__Cell__cell web_ui__Cell__tight" role="presentation" data-testid="profile-location-info">
																<div class="web_ui__Cell__image" data-testid="profile-location-info--prefix">
																	<span class="web_ui__Icon__icon web_ui__Icon__greyscale-level-4" style="width: 16px;">
																		<svg viewbox="0 0 16 16" width="16" height="16" aria-hidden="true">
																			<path d="M8 0a6.5 6.5 0 0 0-6.5 6.5C1.5 12.99 8 16 8 16s6.5-3.01 6.5-9.5A6.5 6.5 0 0 0 8 0m0 1.5a5 5 0 0 1 5 5c0 4.38-3.52 6.92-5 7.8-1.46-.88-5-3.45-5-7.8a5 5 0 0 1 5-5m0 2.25a2.75 2.75 0 1 0 0 5.5 2.75 2.75 0 0 0 0-5.5m0 1.5a1.25 1.25 0 0 1 0 2.5 1.25 1.25 0 0 1 0-2.5"></path>
																		</svg>
																	</span>
																</div>
																<div class="web_ui__Cell__content">
																	<div class="web_ui__Cell__body" data-testid="profile-location-info--content">Santa Marta de Tormes, Espagne</div>
																</div>
															</div>
														</li>
														<li class="web_ui__Item__item">
															<div class="web_ui__Cell__cell web_ui__Cell__tight" role="presentation">
																<div class="web_ui__Cell__image">
																	<span class="web_ui__Icon__icon web_ui__Icon__greyscale-level-4" style="width: 16px;">
																		<svg viewbox="0 0 16 16" width="16" height="16" aria-hidden="true">
																			<path d="m12.05 10.1-3.3-2.47V3.5h-1.5v4.88l3.9 2.92.9-1.2zM8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 1.5a6.5 6.5 0 1 1-.02 13.02A6.5 6.5 0 0 1 8 1.5z"></path>
																		</svg>
																	</span>
																</div>
																<div class="web_ui__Cell__content">
																	<div class="web_ui__Cell__body">
																		<div>Connecté<div class="web_ui__Spacer__small web_ui__Spacer__vertical"></div>
																			<span title="10/04/2024 10:02:20">il y a 1 heure</span>
																		</div>
																	</div>
																</div>
															</div>
														</li>
														<li class="web_ui__Item__item">
															<div class="web_ui__Cell__cell web_ui__Cell__tight" role="presentation">
																<div class="web_ui__Cell__image">
																	<span class="web_ui__Icon__icon web_ui__Icon__greyscale-level-4" style="width: 16px;">
																		<svg viewbox="0 0 16 16" width="16" height="16" aria-hidden="true">
																			<path d="M1 12a3 3 0 0 1 3 3H1v-3zm.5-5.5a8 8 0 0 1 8 8c0 .17-.02.33-.03.5h-1.5A6.5 6.5 0 0 0 1.5 8c-.17 0-.33.01-.5.03v-1.5c.17-.01.33-.03.5-.03zM1 1a14 14 0 0 1 14 14h-1.5C13.5 8.1 7.9 2.5 1 2.5V1z"></path>
																		</svg>
																	</span>
																</div>
																<div class="web_ui__Cell__content">
																	<div class="web_ui__Cell__body">
																		<div class="u-flexbox u-flex-wrap">
																			<div class="u-flexbox">
																				<a href="/member/general/followers/43107677">275</a>
																				<div class="web_ui__Spacer__small web_ui__Spacer__vertical"></div>Abonnés<span>,</span>
																				<div class="web_ui__Spacer__small web_ui__Spacer__vertical"></div>
																			</div>
																			<div class="u-flexbox">
																				<a href="/member/general/following/43107677">19</a>
																				<div class="web_ui__Spacer__small web_ui__Spacer__vertical"></div>Abonnements</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<div class="web_ui__Spacer__x4-large web_ui__Spacer__vertical"></div>
												<div>
													<h4 class="web_ui__Text__text web_ui__Text__caption web_ui__Text__left">Informations vérifiées :</h4>
													<div class="web_ui__Spacer__small web_ui__Spacer__horizontal"></div>
													<ul class="web_ui__List__list web_ui__List__narrow">
														<li class="web_ui__Item__item">
															<div class="web_ui__Cell__cell web_ui__Cell__tight" role="presentation">
																<div class="web_ui__Cell__image">
																	<span class="web_ui__Icon__icon web_ui__Icon__greyscale-level-4" style="width: 16px;">
																		<svg viewbox="0 0 16 16" width="16" height="16" aria-hidden="true">
																			<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m0 1.5a6.5 6.5 0 1 1-.02 13.02A6.5 6.5 0 0 1 8 1.5zm-.85 9.7 4.8-4.8-1.06-1.06-3.74 3.74L5.1 7.04 4.05 8.1l3.1 3.1z"></path>
																		</svg>
																	</span>
																</div>
																<div class="web_ui__Cell__content">
																	<div class="web_ui__Cell__body">Facebook</div>
																</div>
															</div>
														</li>
														<li class="web_ui__Item__item">
															<div class="web_ui__Cell__cell web_ui__Cell__tight" role="presentation">
																<div class="web_ui__Cell__image">
																	<span class="web_ui__Icon__icon web_ui__Icon__greyscale-level-4" style="width: 16px;">
																		<svg viewbox="0 0 16 16" width="16" height="16" aria-hidden="true">
																			<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m0 1.5a6.5 6.5 0 1 1-.02 13.02A6.5 6.5 0 0 1 8 1.5zm-.85 9.7 4.8-4.8-1.06-1.06-3.74 3.74L5.1 7.04 4.05 8.1l3.1 3.1z"></path>
																		</svg>
																	</span>
																</div>
																<div class="web_ui__Cell__content">
																	<div class="web_ui__Cell__body">Google</div>
																</div>
															</div>
														</li>
														<li class="web_ui__Item__item">
															<div class="web_ui__Cell__cell web_ui__Cell__tight" role="presentation">
																<div class="web_ui__Cell__image">
																	<span class="web_ui__Icon__icon web_ui__Icon__greyscale-level-4" style="width: 16px;">
																		<svg viewbox="0 0 16 16" width="16" height="16" aria-hidden="true">
																			<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m0 1.5a6.5 6.5 0 1 1-.02 13.02A6.5 6.5 0 0 1 8 1.5zm-.85 9.7 4.8-4.8-1.06-1.06-3.74 3.74L5.1 7.04 4.05 8.1l3.1 3.1z"></path>
																		</svg>
																	</span>
																</div>
																<div class="web_ui__Cell__content">
																	<div class="web_ui__Cell__body">Email</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="web_ui__Cell__cell web_ui__Cell__default" role="presentation">
									<div class="web_ui__Cell__content">
										<div class="web_ui__Cell__body">
											<span class="web_ui__Text__text web_ui__Text__body web_ui__Text__left web_ui__Text__format">
												<div class="profile__user-description" data-testid="profile-user-description">
													<span>Hola soy Laura y aquí me tenéis intentando vender ropa que no usoo que compré de la talla incorrecta y no la puedo devolver a ver si recupero parte del dinero invertido y ayudo a otra persona a completar su armario. Intento ser honrada y todo se puede negociar pero odio las tomaduras de pelo. Los lotes son precio cerrado
														Espero que os guste mi ropa y... A disfrutar
														
														Mis criterios para poner el precio son
														-Si está usado
														-El precio al que lo compré
														-Si no sé el precio el precio máximo al que lo compraría yo
														En algunas cosas puedo bajar le precio pero no regalarlo, tampoco me hago cargo de los gastos de envio, salvo que se haya pactado asi por algun motivo


													</span>
												</div>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="web_ui__Spacer__large web_ui__Spacer__vertical"></div>
						<span id="tabs">
							<div class="web_ui__Tabs__tabs">
								<ul class="web_ui__Tabs__content" role="tablist">
									<li id="closet" class="web_ui__Tabs__tab web_ui__Tabs__is-active" role="tab" aria-selected="true" tabindex="0">
										<span class="web_ui__Tabs__title">Dressing</span>
									</li>
									<li id="feedback" class="web_ui__Tabs__tab" role="tab" aria-selected="false" tabindex="0">
										<span class="web_ui__Tabs__title">Évaluations</span>
									</li>
								</ul>
							</div>
						</span>
						<div class="web_ui__Divider__divider"></div>
					</div>
					<div class="web_ui__Spacer__regular web_ui__Spacer__horizontal"></div>
					<div class="profile__items-wrapper">
						<div>
							<div class="web_ui__Spacer__medium web_ui__Spacer__horizontal"></div>
							<div class="u-fill-width u-fill-child-component">
								<div class="web_ui__Card__card web_ui__Card__primaryLightExperimental">
									<div class="u-overflow-hidden u-fill-height u-fill-child-component">
										<div class="web_ui__Cell__cell web_ui__Cell__default web_ui__Cell__transparent web_ui__Cell__navigating" role="button" tabindex="0" data-testid="profile-banner-shop-bundles-button">
											<div class="web_ui__Cell__content">
												<div class="web_ui__Cell__heading">
													<div class="web_ui__Cell__title" data-testid="profile-banner-shop-bundles-button--title">Acheter un lot</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
	</section>
{% endblock %}
