{% extends 'base.html.twig' %}


{% block title %}Produit 1| Troc'Yah
{% endblock %}

{% block body %}

	<div id="mainBody">
		<div class="container">
			<div
				class="row">
				<!-- Début PARTIE INNER détails produit=============================================== -->
				<div class="span9">
					<ul class="breadcrumb">
						<li>
							<a href="{{path('app_home')}}">Accueil</a>
							<span class="divider">/</span>
						</li>
						<li class="active">Produit</li>
					</ul>
					<div class="row">
						<div id="gallery" class="span3">
							<a href="#" title="Image Troc alternative">
								<img src="{{card.imageUrl}}" style="width:100%" alt="Image de troc à échanger"/>
							</a>
						</div>
						<div class="span6">
							<h3>{{card.nameArticle}}
							</h3>
							<small>- info descriptive de l'article de TROC</small>
							<hr class="soft"/>
							<form class="form-horizontal qtyFrm">
								<div class="control-group">
									<nav class="container d-flex justify-content-between mt-2">
										<a href="#" class="btn btn-primary ">Modifier la card</a>
										<a href="#" class="btn btn-danger">Supprimer</a>
									</nav>
								</div>
							</form>
							<hr class="soft"/>
							<hr class="soft clr"/>
							<p>
								{{card.info}}
							</p>
							<br class="clr"/>
							<hr class="soft"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MainBody End ============================= -->

{% endblock %}